.find {
  position: relative;
  padding-top: 76px;
  padding-bottom: 72px;
  margin-bottom: 140px;
  @include breakpoint-up(large) {
    padding-top: 79px;
    margin-bottom: 147px;
    padding-bottom: 79px;
  }
  background-color: $Dark-Violet;
  h1 {
    @include breakpoint-up(large) {
      max-width: max-content;
      font-size: 40px;
      text-align: left;
      margin-bottom: 0;
    }
    color: #fff;
    max-width: 243px;
    margin: auto;
    text-align: center;
    font-size: 32px;
    margin-bottom: 43px;
  }
  span {
    @include breakpoint-up(large) {
      display: block;
    }
  }
  a {
    color: white;
    display: block;
    border: 2px solid white;
    max-width: 172px;
    margin: auto;
  }
  &::before {
    content: "";
    position: absolute;
    background-image: url(./images/bg-pattern-how-we-work-mobile.svg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 100% 10%;
    background-size: 50%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    @include breakpoint-up(large) {
      background-image: none;
      background-image: url(./images/bg-pattern-how-we-work-desktop.svg);
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: 100% 10%;
      background-size: 50%;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
  &__wrapper {
    @include breakpoint-up(large) {
      display: flex;
      align-items: center;

      justify-content: space-between;
    }
  }
}
